.MainFrame {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .imgTop {
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 350px;
    }
  }

  img {
    width: 50%;
    height: auto;
  }

  .inputBox {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: scroll;
    border-radius: 4px;
    border: 1px solid #d2dae9;
    border-top: 5px solid #f4700e;
    background-color: #ffffff;

    h2 {
      font-size: 20px;
      font-family: Neutra Display;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 30px;
      border-bottom: 3px solid;
      padding: 10px 20px;
      color: #5d6882;
      margin-top: 0;
      border-bottom-color: rgba(210, 218, 233, 0.28);
    }

    .input-obj {
      padding: 0px 15px 0;
      label {
        &.normal {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          display: block;
          margin-bottom: 5px;
          padding: 0;
          text-transform: uppercase;
          color: #5d6882;
        }

        &.error {
          position: absolute;
          bottom: 0;
          color: red !important;
          pointer-events: none;
          right: 20px;
          font-size: 11px;
          opacity: 0.5;
          padding: 5px;
        }
      }
      ion-label {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
        padding: 0 3px;
        text-transform: uppercase;
        color: #32363f;
      }

      .ons-input {
        background-color: #f6f7f9 !important;
        border: 1px solid #d2dae9;
        border-radius: 4px !important;
        font-size: 14px;
        padding: 0 !important;
        color: #5e626d !important;
        input {
          font-family: Roboto;
          font-size: 1.4rem;
          color: #5e626d;
          width: 100%;
        }
        .iconButton {
          font-size: 32px;
          color: lightgray;
        }
        span {
          color: #5d6882;
          display: block;
          font-family: Roboto;
          font-size: 12px;
          padding: 2px;
          text-align: left;
        }
      }
    }
    form {
      .onsInput {
        padding: 25px 20px 0;
        overflow: hidden;
        position: relative;

        label {
          &.normal {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            display: block;
            margin-bottom: 5px;
            padding: 0;
            text-transform: uppercase;
            color: #5d6882;
          }

          &.error {
            position: absolute;
            bottom: 0;
            color: red !important;
            pointer-events: none;
            text-transform: uppercase;
            right: 20px;
            font-size: 11px;
            opacity: 0.5;
            padding: 5px;

            &.cpf {
              bottom: 20px;
              @media screen and (max-width: 320px) {
                bottom: 40px;
              }
              @media screen and (max-width: 640px) {
                bottom: 40px;
              }
            }
          }
        }

        .senhaBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            height: 14px;
            ion-icon {
              font-size: 14px;
            }
          }
        }
        ion-select {
          margin: 0;
          width: 100%;
          max-width: unset;
          background-color: #f6f7f9;
          border: 1px solid #d2dae9;
          border-radius: 4px;
          font-family: Roboto;
          font-size: 14px;
          color: #5d6882;
        }
        input,
        select {
          width: 100%;
          padding: 6px 10px;
          background-color: #f6f7f9;
          border: 1px solid #d2dae9;
          border-radius: 4px;
          font-family: Roboto;
          font-size: 14px;
          color: #5d6882;
          outline: 0;

          &#ddi {
            width: 60px;
          }

          &#ddd {
            width: 50px;
          }

          &#telefone {
            width: calc(100% - 118px);
          }
        }
      }
      .captcha {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 13px 8px 13px 0;
      }

      a.esqueciSenha {
        font-family: Roboto;
        font-size: 15px;
        line-height: 15px;
        padding: 20px 20px 0;
        display: block;
        color: #f4700e;
      }

      a.esqueciSenha::before {
        content: "i";
        border: 1px solid #f4700e;
        margin-right: 5px;
        padding: 0px 8px;
        border-radius: 20px;
        font-size: 15px;
        line-height: normal;
      }

      .login-button {
        font-family: Roboto;
        font-size: 13px;
        width: calc(100% - 42px);
        height: 36px;
        border-radius: 4px;
        margin: 10px 20px;
        border: 0;
        background-color: #f4700e;
        color: #ffffff;
        text-align: center;
        display: block;
        text-transform: uppercase;
        cursor: pointer;
      }
      .checkbox-Box {
        padding: 0 20px;
        overflow: hidden;
        label {
          display: block;
          margin: 10px 20px;
          color: #5d6882;
          font-family: Roboto;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          text-transform: none;
          padding: 0;
          font-weight: 400;
          a {
            font-family: Roboto;
            font-weight: 500;
            font-size: 12px;
            color: #f4700e;
          }
        }
      }
    }
  }

  .footerBar {
    color: white;
    font-size: 1em;
    justify-content: space-between;
    display: flex;
    width: 100%;

    .right {
      display: flex;
      /* flex-direction: column */
    }
  }
}
.fundo-imagem {
  /*     width: 100vw;
        height: 100vh;
        background-position: center; */
  height: 100%;
  position: absolute;
  width: 100%;
  // background: #156FAB url(https://poptst.ons.org.br/ons.pop.federation/Content/img/background.png);
}

/* 
width: 100%;
height: 100%;

background-size: cover; */