<ion-content class="transparent-header">
    <div class="fundo-imagem" [ngStyle]="Fundo_Imagem"></div>
    <div class="MainFrame">
        <div class="imgTop">
            <img src="./assets/login/logo-ons.png">
        </div>
        <div class="inputBox">
            <h2>Cadastro de Usuário</h2>
            <span id="header" class="aviso">Todos os campos são de preenchimento obrigatório</span>
            <form id=LoginForm (ngSubmit)="logar()" #RegisterForm="ngForm">
                <button ion-button block outline type="submit" color="light" class="login-button"
                    *ngIf="!showNHide.EmpresaLink">Solicitar
                    Cadastro
                </button>
                <div class="onsInput">
                    <label class="normal" for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" required [(ngModel)]="Novousuario.nome"
                        #NovousuarioNome="ngModel" class="valid">
                    <label class="error" [hidden]="isNameValid(NovousuarioNome)">
                        {{errorLabels.nome}}dsd
                    </label>
                </div>
                <div class="onsInput">
                    <label class="normal" for="cpf">CPF ou Passaporte</label>
                    <input type="text" name="cpf" id="cpf" required [(ngModel)]="Novousuario.cpf"
                        (ngModelChange)="setarMascara(Novousuario.cpf)" maxlength="14">
                    <label class="error cpf" [hidden]="IsValido()">
                        {{errorLabels.cpf}}
                    </label>
                    <span class="aviso">Caso você não seja brasileiro, preencha com seu passaporte</span>
                </div>
                <div class="onsInput">
                    <label class="normal" for="email">Email</label>
                    <input type="text" name="email" id="email" class="valid" [(ngModel)]="Novousuario.email"
                        #NovousuarioEmail="ngModel" required email (blur)="onBlur($event, NovousuarioEmail)">
                    <label class="error" [hidden]="!isEmailValid(NovousuarioEmail)">
                        {{errorLabels.email}}
                    </label>
                </div>
                <div class="onsInput">
                    <label class="normal" for="telefone">Telefone Comercial</label>
                    <input type="number" name="telefoneNovoDDI" [(ngModel)]="Novousuario.telefone.ddi" id="ddi"
                        placeholder="ddi" #NovousuarioTelefoneNovoDDi="ngModel" required max="999" required>
                    <input type="number" name="telefoneNovoDDD" [(ngModel)]="Novousuario.telefone.ddd" max="99" id="ddd"
                        placeholder="ddd" #NovousuarioTelefoneNovoDDD="ngModel" required>

                    <input type="text" name="telefoneNovoNumero" [(ngModel)]="Novousuario.telefone.numero" id="telefone"
                        placeholder="telefone" (ngModelChange)="validarInputs(NovousuarioTelefoneNovoNumero)"
                        (blur)="validarTelefone()" #NovousuarioTelefoneNovoNumero="ngModel" required>


                    <label class="error"
                        *ngIf="NovousuarioTelefoneNovoNumero.invalid && NovousuarioTelefoneNovoNumero.touched">
                        {{errorLabels.telefone}}
                    </label>
                </div>
                <div class="onsInput">
                    <label class="normal" for="senha">Senha</label>
                    <div class="senhaBtn">
                        <input [type]="passwordType" name="senha" id="senha" [(ngModel)]="Novousuario.senha" required
                            #NovousuarioSenha="ngModel">
                        <button ion-button clear (click)="hideShowPassword()" type="button">
                            <ion-icon [name]="passwordIcon" class="iconButton"></ion-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="showNHide.SelectBox">
                    <div class="onsInput">
                        <label class="normal" for="tipoPerfil">Selecione o seu perfil</label>
                        <div>
                            <label class="onsRadioContainer" *ngFor="let item of perfilTipo">{{item.nome}}
                                <input type="radio" name="radio" #radioPerfil (click)="setPerfil(item, radioPerfil)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <ion-item>
                            <ion-select [selectOptions]="selectedOption" id="tipoPerfil" multiple="false"
                                name="tipoDePerfil1" [(ngModel)]="Novousuario.tipoAgente"
                                #NovousuarioTipoPerfil1="ngModel" placeholder="Tipos de perfil"
                                *ngIf="!showNHide.EmpresaLink">
                                <ion-option [value]="item" *ngFor="let item of perfisParaExibir">{{item.nome}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </div>

                <div class="captcha" *ngIf="!showNHide.EmpresaLink">
                    <re-captcha (resolved)="resolved($event)" siteKey="6LebGqEUAAAAAJGvLfMvMd5AhRWvt6Sq7S01lKlH">
                    </re-captcha>
                </div>
                <hr>
                <div class="checkbox-Box" *ngIf="!showNHide.EmpresaLink">
                    <label class="accept_63f916e8">
                        <input type="checkbox" id="accept" name="accept" [(ngModel)]="checkbox" required>
                        Ao criar uma conta, você concorda com as
                        <a class="" target="_blank" [href]="links.PoliticaPrivacidade">Condições
                            de uso e Política de privacidade do ONS</a></label>
                </div>
                <button ion-button block outline type="submit" color="light" class="login-button"
                    *ngIf="!showNHide.EmpresaLink">Solicitar
                    Cadastro
                </button>
                <div *ngIf="showNHide.EmpresaLink" class="rotaEmpresa">
                    <a class="link_63f916e8" target="_blank" [href]="links.Empresa">O cadastro de empresas deve ser
                        efetuado por este link </a>
                </div>
            </form>
        </div>
        <!-- (click)="logar()"  -->
        <div class="footerBar">
            <div>
                <img src="./assets/login/logo-ons.png">
                <br>
                <span>© 2008-2019 - {{ versaoApp }} 1.1.1</span>
            </div>
        </div>
    </div>
</ion-content>