page-cadastro {
  @import "../../theme/variables";
  $colors: (
    primary: #486018,
    primary_80: #6d8046,
    primary_60: #b6bfa3,
    primary_40: #b6bfa3,
    primary_20: #dadfd1,
    secondary: #636266,
    secondary_80: #828185,
    secondary_60: #a1a1a3,
    secondary_40: #c1c0c2,
    secondary_20: #e0e0e0,
    orange: #f76c00,
    orange_80: #f98933,
    orange_60: #faa766,
    orange_40: #fcc499,
    orange_20: #fde2cc,
    blue: #4f8ad8,
    blue_80: #72a1e0,
    blue_60: #95b9e8,
    blue_40: #b9d0ef,
    blue_20: #dce8f7,
    red: #d10429,
    red_80: #da3654,
    red_60: #e3687f,
    red_40: #ed9ba9,
    red_20: #f6cdd4
  );
  $transparent-white: rgba(255, 255, 255, 0.6);

  ion-content {
    background: linear-gradient($transparent-white);
    background-size: 1800% 1800%;
    animation: rainbow 30s linear infinite;
  }

  .MainFrame {
    .inputBox {
      overflow: scroll;
    }
  }

  span {
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
    &#header {
      margin: 10px 20px;
    }
    &.aviso {
      color: #5d6882;
    }
  }

  ion-item {
    padding: 0 !important;
    .item-inner {
      padding: 0 !important;
      border: 0 !important;
    }
  }
  .rotaEmpresa {
    display: flex;
    justify-content: center;
    padding: 1vh;
    a {
      color: #f4700e;
      text-align: center;
      margin: 0px 2em;
      font-size: 15px;
    }
  }
}
