<div>
        <div class="box_63f916e8">
        <h2>Cadastro de usuário</h2>
        <span>Todos os campos são de preenchimento obrigatório</span>
        
            <fieldset class="border_top_63f916e8" novalidate="" id="form-cadastro-usuario" name="form-cadastro-usuario">
                <div class="item_63f916e8">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" required="" class="valid" aria-invalid="false">
                </div>
                <div class="item_63f916e8">
                    <label for="cpf">CPF ou Passaporte</label>
                    <input type="text" name="documento" class="cpf-passaporte valid" id="documento" required="" aria-invalid="false">
                </div>
                <span class="obs_63f916e8">Caso você não seja brasileiro, preencha com seu passaporte</span>
                <div class="item_63f916e8">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" class="valida-email pending valid" required="" aria-invalid="false">
                    <label id="email-error" class="error" for="email" style="display: none;"></label>
                </div>
                <div class="item_63f916e8">
                    <label for="telefone">Telefone Comercial</label>
                    <input class="ddi_63f916e8 valid" type="text" maxlength="3" name="ddi" id="ddi" placeholder="ddi" required="" aria-invalid="false">
                    <input class="ddd_63f916e8 valid" type="text" maxlength="2" name="ddd" id="ddd" placeholder="ddd" required="" aria-invalid="false" style="display: inline-block;">
                    <input class="telefone_63f916e8 valid" type="text" maxlength="9" name="telefone" placeholder="telefone" id="telefone" required="" style="" aria-invalid="false">
                </div>
                <div class="item_63f916e8 inpsenha_63f916e8">
                    <label for="password">Senha</label>
                    <div>
                      <div style="position:relative;">
                        <input type="text" name="senha" id="senha" required="" class="valid" aria-invalid="false"><label id="senha-error" class="error" for="senha" style="display: none;"></label>
                      </div>
                      <div>
                        <span class="reveal-password revelado" data-ref="#senha"></span>
                      </div>
                    </div>
                </div>
                <input type="hidden" class="servicofora" value="S">
                <div id="precisa_tipo_63f916e8" style="display: none;">
                    <div class="item_63f916e8">
                        <label for="tipoPerfil">Selecione o seu perfil</label>
                        <ul>
                            <li>
                                <label>
                                    <span class="input_63f916e8">
                                        <label class="custom_radio_63f916e8">
                                            <input type="radio" class="tipoItem" name="tipoItem" value="E" id="precisa-item-e" checked="" required="" disabled="disabled">
                                            <span class="mark_63f916e8"></span>
                                        </label>
                                    </span>
                                    <span>Estudante, público, etc.. Conteúdo descrevendo os perfis que devem selecionar esta opção.</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <span class="input_63f916e8">
                                        <label class="custom_radio_63f916e8">
                                            <input type="radio" class="tipoItem" name="tipoItem" value="NE" id="precisa-item-ne" required="" disabled="disabled">
                                            <span class="mark_63f916e8"></span>
                                        </label>
                                    </span>
                                    <span>Nova empresa. Conteúdo descrevendo as situações em que esta opção deve ser selecionada.</span>
                                </label>
                            </li>
                        </ul>
                        <p class="alert_empresa_63f916e8" style="display: none;">
                            <a href="/sites/cadastro/paginas/cadastro-de-empresa.aspx" class="link_63f916e8 pass-to-other-page">O cadastro de empresas pode ser efetuado por este link</a>
                        </p>
                    </div>
                    <div class="item_63f916e8 tipoPerfil">
                        <select name="tipoPerfil" id="tipoPerfil" required="">
                        </select>
                    </div>
                </div>
                <div class="js-empresa">
                    <div id="g-recaptcha" class="g_recaptcha_63f916e8"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LdnzW4UAAAAADztJTa4u2Ly9fBIOr_BsoZZCoIL&amp;co=aHR0cDovL2RzdnBvcnRhbHJlbGFjaW9uYW1lbnRvLm9ucy5vcmcuYnI6ODA.&amp;hl=pt-BR&amp;v=v1557729121476&amp;size=normal&amp;cb=9o9vyl7na2xl" width="304" height="78" role="presentation" name="a-tbu38mj11v7q" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
                    <hr>
                    <div class="form_action_63f916e8">
                        <label class="accept_63f916e8"><input type="checkbox" id="accept" name="accept"> Ao criar uma conta, você concorda com as <a class="link_63f916e8" target="_blank" href="/sites/cadastro/paginas/condicoes-de-uso.aspx">Condições de uso e Política de privacidade do ONS</a></label>
                        <input type="submit" value="Solicitar Cadastro" class="botao_63f916e8 js-submit">
                    </div>
                </div>
            </fieldset>
        
    </div>
    <div class="box_63f916e8 alerts">
    </div>
    </div>