<ion-content class="transparent-header">
  <!-- <img src="http://twixar.me/vtgK" class="fundo-imagem" /> -->
  <div class="fundo-imagem" [ngStyle]="Fundo_Imagem"></div>
  <div class="MainFrame">
    <div class="imgTop">
      <img src="./assets/login/logo-ons.png">
    </div>
    <div class="inputBox">
      <h2>Entrar</h2>
      <form (ngSubmit)="logar(RegisterForm)" #RegisterForm="ngForm">
        <div class="onsInput">
          <label class="normal" for="nome">Usuário ou E-mail</label>
          <input type="text" name="nome" id="nome" required [(ngModel)]="usuario.UserName" #NovousuarioNome="ngModel"
            class="valid">
        </div>
        <div class="onsInput">
          <label class="normal" for="senha">Senha</label>
          <input type="password" name="senha" id="senha" [(ngModel)]="usuario.UserPass" required
            #NovousuarioSenha="ngModel">
        </div>
        <a class="esqueciSenha" href="https://poptst.ons.org.br/ons.pop.federation/passwordrecovery/?ReturnUrl=https%3a%2f%2fpoptst.ons.org.br%2fons.pop.federation%2f%3fReturnUrl%3dhttp%253a%252f%252fpoptst.ons.org.br%252fpop%252f"> Esqueci a Senha</a>
        <hr>
        <button ion-button block outline type="submit" color="light" class="login-button">Entrar</button>
        <button ion-button block outline (click)="goToCadastro()" color="light" class="login-button new">Novo cadastro
        </button>
      </form>
    </div>
    <div class="footerBar">
      <div>
        <img src="./assets/login/logo-ons.png">
        <br>
        <span>© 2008-2019 - {{ versaoApp }} 1.1.1</span>
      </div>
    </div>
  </div>
</ion-content>