$colors: ( primary: #486018, primary_80: #6D8046, primary_60: #B6BFA3, primary_40: #B6BFA3, primary_20: #DADFD1, secondary: #636266, secondary_80: #828185, secondary_60: #A1A1A3, secondary_40: #C1C0C2, secondary_20: #E0E0E0, orange: #F76C00, orange_80: #F98933, orange_60:#FAA766, orange_40:#FCC499, orange_20:#FDE2CC, blue:#4F8AD8, blue_80: #72A1E0, blue_60: #95B9E8, blue_40: #B9D0EF, blue_20: #DCE8F7, red:#D10429, red_80:#DA3654, red_60:#E3687F, red_40:#ED9BA9, red_20:#F6CDD4);
$transparent-white: rgba(255, 255, 255, .6);

@import "../../theme/variables";
@import "../../theme/onsBoxInputs";

.MainFrame {
  .inputBox {
    form {
      .login-button {
        &.new {
          color: #f4700e !important;
          background-color: unset;
          border-style: solid;
          border-color: #f4700e;
          border-width: 1px;
        }
      }
    }
  }
}

.passwordIcon {
    font-size: 2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
}
