page-cadastro {
  @import "../../theme/variables";
  $colors: (
    primary: #486018,
    primary_80: #6d8046,
    primary_60: #b6bfa3,
    primary_40: #b6bfa3,
    primary_20: #dadfd1,
    secondary: #636266,
    secondary_80: #828185,
    secondary_60: #a1a1a3,
    secondary_40: #c1c0c2,
    secondary_20: #e0e0e0,
    orange: #f76c00,
    orange_80: #f98933,
    orange_60: #faa766,
    orange_40: #fcc499,
    orange_20: #fde2cc,
    blue: #4f8ad8,
    blue_80: #72a1e0,
    blue_60: #95b9e8,
    blue_40: #b9d0ef,
    blue_20: #dce8f7,
    red: #d10429,
    red_80: #da3654,
    red_60: #e3687f,
    red_40: #ed9ba9,
    red_20: #f6cdd4
  );
  $transparent-white: rgba(255, 255, 255, 0.6);

  .passwordIcon {
    font-size: 2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }

  ion-content {
    background: linear-gradient($transparent-white);
    background-size: 1800% 1800%;
    animation: rainbow 30s linear infinite;
  }

  .fundo-imagem {
    /*     width: 100vw;
        height: 100vh;
        background-position: center; */
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .MainFrame {
    .inputBox {
      overflow: scroll;
      .input-obj {
        .ons-input {
          max-height: 10vw;
          min-height: 0px !important;
        }
      }
    }
  }
}
