@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 100;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-LightItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Italic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: bold;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: bolder;
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Black.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: bolder;
  font-style: italic;
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf");
}
